trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:

# Install .NET SDK
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'
  displayName: 'Install .NET SDK'

# Restore dependencies
- script: dotnet restore
  displayName: 'Restore NuGet packages'

# Build
- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build Project'

# Run Tests
- script: dotnet test --configuration $(buildConfiguration) --no-build --verbosity normal
  displayName: 'Run Unit Tests'

# Publish
- script: dotnet publish --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: 'Publish Project'

# Publish Artifact
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'
  displayName: 'Publish Artifacts'
